# Maestria Inteligencia Artificial
# Procesamiento del Lenguaje Natural
# *Profesor:* Jorge Andres Alvarado Valencia
# *Estudiante:* JesÃºs Ernesto SuÃ¡rez Triana
## Tarea 1: Analisis exploratorio de texto de whatsapp

In [3]:
import os 
print(os.getcwd())

/Users/habi/Documents/personal/nlp_course/tareas_talleres

In [9]:
from whatstk import WhatsAppChat
filepath = 'tarea_1_whatsapp.txt'
chat = WhatsAppChat.from_source(filepath=filepath)

In [12]:
print(chat.df.info())
chat.df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026 entries, 0 to 1025
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1026 non-null   datetime64[ns]
 1   username  1026 non-null   string
 2   message   1026 non-null   string
dtypes: datetime64[ns](1), string(2)
memory usage: 24.2 KB
None

,date,username,message
0,2021-12-17 21:46:00,+57 322 3570601,QuiÃ©n para una Pola
1,2021-12-17 21:46:00,+57 322 3570601,Hay en Castilla
2,2021-12-17 22:34:00,+57 322 3570601,"Jajajak si ve , estos HP no son normales , sin..."
3,2021-12-17 22:37:00,+504 9508-4415,ðŸ˜‚
4,2021-12-18 00:38:00,JosÃ© Barboza,Que hacen?